


.login-div{
    padding-left: 30%;
    font: normal 20pt Arial;
}

.login-div tr{
    height: 50px;
}

.button-login{
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 5px 5px;
    background: rgba(246, 246, 246, 0.08);
    outline:none;
}

.button-login:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    outline:none;
}
.button-login:focus{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    outline:none;
}
.button-login:active{
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    outline:none;
}
.button-login:checked{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    outline:none;
}
.login-input-text{
    width: 150px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background: #ffff;
    outline:none;
}


.login-input-text:focus{
    outline:none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    /*border-radius: 5px 5px 5px 5px;*/
    /*box-shadow: 0 0 10px rgba(255, 0, 11, 0.5);*/
    /*width: 150px;*/
    /*height: 30px;*/
}


.switch_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*max-width: 200px;*/
    /*min-width: 200px;*/
    /*height: 200px;*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/* Switch 1 Specific Styles Start */

.box_1{
    background: #fff;
}

input[type="checkbox"].switch_1{
    font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3.5em;
    height: 1.5em;
    background: #fff;
    border-radius: 3em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked{
    background: #0ebeff;
}

input[type="checkbox"].switch_1:after{
    position: absolute;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
    box-shadow: 0 0 .25em rgba(0,0,0,.3);
    -webkit-transform: scale(.7);
    transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked:after{
    left: calc(100% - 1.5em);
}