body {
    background: white;
    padding: 0;
    margin: 0;
}

.menu-body {
    margin-top: 25px;
    background: white;
    border: 1px solid #ccc;
    height: 80px;
    width: 100%;
    padding-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.menu-body a {
    padding-left: 150px;
    font-size:18pt;
    font-family: Arial, serif;
    color: #8d00ff;
}

.menu-body li {
    display: inline;
}