body {
    background: rgba(246, 246, 246, 0.08);
    padding: 0;
    margin: 0;
}

.menu-body {
    margin-top: 25px;
    background: #fff;
    border: 1px solid #ccc;
    height: 80px;
    width: 100%;
    padding-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.menu-body a {
    padding-left: 150px;
    font-size:18pt;
    font-family: Arial, serif;
    color: #0ebeff;
}

.cursor-menu{
    width: 100px;
    height: 100px;
    background: rgba(255, 0, 0, 0.18);
    margin-top: -5px;
    margin-left: 20px;
}