<ul xmlns:th="http://www.thymeleaf.org" class="menu-body">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <li class="cursor-menu"  th:if="${#request.isUserInRole('ROLE_ORDER')}">
        <a th:href="@{/add_order}">Добавить заказ</a>
    </li>
    <li class="cursor-menu">
        <a th:href="@{/orders}">Заказы</a>
    </li>
    <li class="cursor-menu">
        <a th:href="@{/products}">Изделия</a>
    </li>
    <li class="cursor-menu"  th:if="${#request.isUserInRole('ROLE_ADMIN')}">
        <a th:href="@{/admin}">Admin</a>
    </li>
    <li class="cursor-menu"  th:if="${#request.isUserInRole('ROLE_DESIGNER')}">
        <a th:href="@{/designer}">Комплектация</a>
    </li>
    <li class="cursor-menu">
        <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Выход</a>
    </li>
    <p th:if="${#request.userPrincipal != null}">Пользователь: <span th:text="${#request.remoteUser}"></span></p>

</ul>


