<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="#{name-app}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<div class="login-div">
    <h1>Вход</h1>
    <!-- /login?error=true -->
    <div th:if="${#request.getParameter('error') == 'true'}" style="color:red; margin:10px 0px;">Неверный
        логин/пароль!!!<br/>
        Reason :
        <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
              th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>

    </div>
    <form name='f' th:action="@{/j_spring_security_check}" method='POST'>
        <table>
            <tr>
                <td>Логин:</td>
                <td><input type='text' name='username' value='' class="login-input-text"></td>
            </tr>
            <tr>
                <td>Пароль</td>
                <td><input type='password' name='password' class="login-input-text"/></td>
            </tr>
            <tr>
                <td>Запомнить меня?</td>
                <td>
                    <!--<input class="checkbox_remember_me" type="checkbox" name="remember-me"/>-->
                    <div class="switch_box box_1">
                        <input type="checkbox" class="switch_1" name="remember-me">
                    </div>
                </td>
            </tr>
            <tr>
                <td><input class="button-login" name="submit" type="submit" value="Вход"/></td>
            </tr>
        </table>
    </form>
    <br>

</div>
</body>

</html>